body {
    background: rgb(126, 103, 172);
}
* {
    font-family: sans-serif;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(72, 61, 139, 0.6);
    backdrop-filter: blur(2px);
    height: 50px;
    display: flex;
    align-items: center;
}
nav h2 {
    color: white;
    font-weight: bold;
    width: max-content;
    margin-inline: 10px;
}

nav input {
    margin: auto;
    border: 1px darkgray solid;
    border-radius: 100vmax;
    padding: 10px 15px;
    width: 40%;
    color: white;
    background: rgba(72, 61, 139, 0.6);
    backdrop-filter: blur(2px);
    outline: none;
}

nav input::placeholder {
    color: rgb(225, 225, 225);
}

main {
    margin-top: 60px;
}

.content .title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: white;
}

.game-container {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}

.game-container > a > img {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.game-container > a {
    text-decoration: none;
    position: relative; 
}

.game-container > a > p {
    padding: 15px;
    padding-left: 10px;
    z-index: 100;
    text-decoration: none;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0), black);
    margin-top: 35%;
}
a {
    text-decoration: none;
    color: white;
}

.game-content {
    display: grid;
    place-items: center;
    width: 70%;
    margin: 40px;
    margin-top: 60px;
}
.game-content iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

.game-controls {
    background: rgb(57, 48, 111);
    display: flex;
    align-items: center;
    width: 100%;
}
.game-controls > * {
    margin: 10px;
    color: white;
}
.game-controls > p {
    margin-left: auto;
    color: darkblue;
    text-decoration: underline;
}
.game-controls > h3 {
    font-weight: normal;
    color: white;
    margin-inline: 10px;
    font-size: 0.8rem;
}